{% extends '../../store/base.html' %}
{% load static %}
{% block content %}



       <!-- login register wrapper start -->
        <div class="login-register-wrapper">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap  pr-lg-50">
                                <h2>Sign In</h2>
                                <form action="{% url 'account:login' %}" method="post">
                                     {% csrf_token %}


                                            {% if form.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    Username or password not correct
                                                </div>
                                            {% endif %}


                                    <div class="single-input-item">
                                        {{form.username}}
                                    </div>
                                    <div class="single-input-item">
                                        {{form.password}}
                                    </div>
                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                            <div class="remember-meta">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                                                    <label class="custom-control-label" for="rememberMe">Remember Me</label>
                                                </div>
                                            </div>
                                            <a href="{% url 'account:pwdReset' %}" class="forget-pwd">Forget Password?</a>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <button class="sqr-btn">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                         <!-- Login Content End -->

                        <!-- Register Content Start
                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap mt-md-34 mt-sm-34">
                                <h2>Singup Form</h2>
                                <form action="." method="post" >
                                    {% csrf_token %}

                                    {% if form.errors %}
                                        <p>Please correct the following errors</p>
                                        {% for field in form %}
                                            {% if field.errors %}
                                                <div class="alert alert-primary" role="alert">
                                                    {{field.label}}:{{field.errors|striptags}}
                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}
                                    <div class="single-input-item">
                                        {{form.user_name}}
                                    </div>
                                    <div class="single-input-item">
                                        {{form.email}}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                {{form.password}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="single-input-item">
                                                {{form.password2}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta">
                                            <div class="remember-meta">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                                    <label class="custom-control-label" for="subnewsletter">Subscribe Our Newsletter</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <button class="sqr-btn">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        Register Content End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->

{%endblock%}