{% extends '../../store/base.html' %}
{% load static %}
{% block content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href="{% url 'account:dashboard' %}"
</script>
{% endif %}
       <!-- login register wrapper start -->
        <div class="login-register-wrapper d-flex align-items-center p-5">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="login-reg-form-wrap  pr-lg-50">
                                <h2>Enter new password</h2>
                                <form enctype="multipart/form-data" method="post">
                                     {% csrf_token %}


                                            {% if form.errors %}
                                     <div class="alert alert-danger" role="alert">
                                                    ERROR
                                                </div>
                                    {%endif%}
                                    <div class="single-input-item">
                                        {{form.new_password1}}
                                    </div>
                                    <div class="single-input-item">
                                        {{form.new_password2}}
                                    </div>


                                    <div class="single-input-item">
                                        <button class="sqr-btn">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                         <!-- Login Content End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->

{%endblock%}