{% extends '../../store/base.html' %}
{% load static %}
{% block content %}


{% if request.user.is_authenticated %}
<script>
    window.location.href="{% url 'account:dashboard' %}"
</script>
{% endif %}
       <!-- login register wrapper start -->
        <div class="login-register-wrapper">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap  pr-lg-50">
                                <h2>Enter your email to obtain a new password</h2>
                                <form action="{% url 'account:pwdReset' %}" method="post">
                                     {% csrf_token %}


                                            {% if form.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    Please try again
                                                </div>
                                            {% endif %}


                                    <div class="single-input-item">
                                        {{form.email}}
                                    </div>

                                    <div class="single-input-item">
                                        <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                            <div class="remember-meta">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                                                    <label class="custom-control-label" for="rememberMe">Remember Me</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-input-item">
                                        <button class="sqr-btn">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                         <!-- Login Content End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->

{%endblock%}