{% extends '../../store/base.html' %}
{% load static %}
{% block content %}


{% if request.user.is_authenticated %}
<script>
    window.location.href="{% url 'account:dashboard' %}"
</script>
{% endif %}
       <!-- login register wrapper start -->
        <div class="login-register-wrapper d-flex align-items-center p-5">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="login-reg-form-wrap  pr-lg-50">

                                     {% csrf_token %}


                                            {% if 'email' in request.get_full_path %}
                                                <h2>Password reset success</h2>
                                                <p>Check your email for instructions</p>

                                            {% endif %}

                                             {% if 'complete' in request.get_full_path %}
                                                <h2>Password reset success</h2>
                                                <a href="{% url 'account:login' %}">Login</a>

                                            {% endif %}




                        </div>
                         <!-- Login Content End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- login register wrapper end -->

{%endblock%}