{% extends 'store/base.html' %}
{% load static %}
{% block content %}


                <!-- latest product start -->
                <div class="latest-product ">
                    <div class="container">
                        <div class="section-title mb-30" >
                            <div class="title-icon ">
                                <i class="fa fa-flash"></i>
                            </div>
                            <h3 >{{category.name}}</h3>
                        </div> <!-- section title end -->
                        <!-- featured category start -->
                        <div class="latest-product-active slick-padding slick-arrow-style">
                            <!-- product single item start -->
                        {% for product in products %}
                            <div class="product-item fix">
                                <div class="product-thumb">
                                    <a href="{{product.get_absolute_url}}">
                                        <img src="{{product.image.url}}" class="img-pri" alt="">
                                        <img src="assets/img/product/product-img2.jpg" class="img-sec" alt="">
                                    </a>
                                    <div class="product-label">
                                        <span>hot</span>
                                    </div>
                                    <div class="product-action-link">
                                        <a href="#" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip"
                                                data-placement="left" title="Quick view"><i class="fa fa-search"></i></span>
                                        </a>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a href="{{product.get_absolute.url}}">{{product.title}}</a></h4>
                                    <div class="pricebox">
                                        <span class="regular-price">{{product.price}}</span>
                                        <div class="ratings">
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span class="good"><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <div class="pro-review">
                                                <span>1 review(s)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- product single item end -->
 
                        </div>
                        <!-- featured category end -->
                    </div>
                </div>
                <!-- latest product end -->
{% endblock content %}