
{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- blog main wrapper start -->
        <div class="blog-main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-2">
                        <div class="blog-sidebar-wrapper mt-md-34 mt-sm-30">
                            <div class="blog-sidebar mb-30">
                                <div class="sidebar-serch-form">
                                    <form action="#">
                                        <input type="text" class="search-field" placeholder="search here">
                                        <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-20">categories</h4>
                                <ul class="blog-archive">
                                    {% for post_categories in blog_categories %}
                                                    <li><a href="{{   post_categories.get_absolute_url }}">{{ post_categories.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-20">Blog Archives</h4>
                                <ul class="blog-archive">
                                    {% for blog_cat in blog_categories  %}
                                    <li><a href="{{   post_categories.get_absolute_url }}">{{ blog_cat.created_time | naturalday}}</a></li>
                                   {% endfor %}
                                </ul>
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-30">recent post</h4>
                                <div class="recent-post mb-20">
                                    <div class="recent-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="assets/img/product/product-img1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="recent-post-des">
                                        <span><a href="blog-details.html">first blog post</a></span>
                                        <span class="post-date">28.10.2018</span>
                                    </div>
                                </div> <!-- end single popular item -->
                                <div class="recent-post mb-20">
                                    <div class="recent-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="{%  static '/assets/img/product/product-img2.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <div class="recent-post-des">
                                        <span><a href="blog-details.html">second blog post</a></span>
                                        <span class="post-date">28.10.2018</span>
                                    </div>
                                </div> <!-- end single popular item -->
                                <div class="recent-post mb-20">
                                    <div class="recent-post-thumb">
                                        <a href="blog-details.html">
                                            <img src="assets/img/product/product-img3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="recent-post-des">
                                        <span><a href="blog-details.html">third blog post</a></span>
                                        <span class="post-date">28.10.2018</span>
                                    </div>
                                </div> <!-- end single popular item -->
                            </div> <!-- single sidebar end -->
                            <div class="blog-sidebar mb-24">
                                <h4 class="title mb-30">Tags</h4>
                                <ul class="blog-tags">
                                    <li><a href="#">camera</a></li>
                                    <li><a href="#">computer</a></li>
                                    <li><a href="#">watch</a></li>
                                    <li><a href="#">smartphone</a></li>
                                    <li><a href="#">bag</a></li>
                                    <li><a href="#">shoes</a></li>
                                </ul>
                            </div> <!-- single sidebar end -->
                        </div>
                    </div>
                    <div class="col-lg-9 order-1">
                        <div class="blog-wrapper-inner">
                            <div class="row blog-content-wrap">





                                <!-- start single blog item -->
                                <div class="col-lg-12">
                                    <div class="blog-item mb-30">
                                        <div class="blog-thumb img-full fix">
                                            <div class="blog-gallery-slider slick-arrow-style_2">
                                                <div class="blog-single-slide">
                                                    <img src="{{blog.featured_image.url }}" alt="">
                                                </div>


                                            </div>
                                        </div>
                                        <div class="blog-content">
                                            <div class="blog-details">
                                                <h3 class="blog-heading">{{ blog.title }}</h3>
                                                <div class="blog-meta">
                                                    <a class="author" href="#"><i class="icon-people"></i> {{  blog.author }}</a>
                                                    <a class="comment" href="#"><i class="icon-bubbles"></i> 3 comment</a>
                                                    <a class="post-time" href="#"><i class="icon-calendar"></i> {{  blog.created | naturaltime}}</a>
                                                </div>
                                                <p>{{ blog.post_description | safe }} </p>
                                            </div>
                                        </div>
                                        <div class="tag-line">
                                            <h4>tag:</h4>
                                            <a href="#">dry food</a>,
                                            <a href="#">wet food</a>,
                                            <a href="#">reach food</a>,
                                        </div>
                                        <div class="blog-sharing text-center mt-34 mt-sm-34">
                                            <h4>share this post:</h4>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="comment-section">


                                        {% with comments.count as total_comments %}
                                            <h3> {{  total_comments }} comment 2{{ total_comments | pluralize }}</h3>
                                        {% endwith %}
                                        <ul>
                                            <li>
                                                <div class="author-avatar">
                                                    <img src="assets/img/blog/comment-icon.png" alt="">
                                                </div>
                                                <div class="comment-body">
                                                        <span class="reply-btn"> <button class=" btn btn-outline-danger  button">Reply</button>
                                                        </span>

                                                    {% for comment in comments %}
                                                    <h5 class="comment-author">{{ comment.author }}</h5>
                                                    <div class="comment-post-date">
                                                        {{ comment.publish_date}}bcgchv
                                                    </div>
                                                    <p>{{ comment.content |linebreaks }}hjhvjhvjhvjhvjh</p>
                                                    {{ empty }}
                                                    <p>Be the first one to comment</p>
                                                    {% endfor %}
                                                </div>
                                            </li>


                                            </li>

                                        </ul>
                                    </div>
                                    <!-- comment area start -->
                                    <!-- start blog comment box -->
                                    <div class="blog-comment-wrapper mb-sm-6">
                                        <h3>leave a reply</h3>
                                        <p>Your email address will not be published. Required fields are marked *</p>
                                        <form id="myForm" method="post">
                                            {% csrf_token %}
                                                {{ comment.as_p }}
                                            <div class="comment-post-box">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label>comment</label>
                                                        <textarea name="commnet" placeholder="Write a comment"></textarea>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb-sm-20">
                                                        <label>Name</label>
                                                        <input type="text" class="coment-field" placeholder="Name">
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb-sm-20">
                                                        <label>Email</label>
                                                        <input type="text" class="coment-field" placeholder="Email">
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb-sm-20">
                                                        <label>Website</label>
                                                        <input type="text" class="coment-field" placeholder="Website">
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="coment-btn mt-20">
                                                            <input class="sqr-btn" type="submit" name="submit" value="post comment">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- start blog comment box -->
                                </div>
                                <!-- end single blog item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog main wrapper end -->
{% endblock content %}