
{% extends 'store/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

  <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">blog </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->
    <!-- blog main wrapper start -->
        <div class="blog-main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-wrapper-inner">
                            <div class="row">

                                <!-- start single blog item -->
                                {% for posts in all_blogs  %}
                                <div class="col-lg-6 col-md-6">
                                    <div class="blog-item mb-26">
                                        <div class="blog-thumb img-full fix">
                                            <a href="{{  posts.get_absolute_url }}">
                                                <img width="400px" height="500px" src="{{ posts.featured_image.url }}" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <h3><a href="{{  posts.get_absolute_url }}">{{ posts.title| title}} </a></h3>
                                            <div class="blog-meta">
                                                <span class="posted-author">by: {{ posts.author}}</span>
                                                <span class="post-date">{{ posts.created | naturaltime}}</span>
                                            </div>
                                            <p> {{posts.post_description | safe | striptags | truncatechars:100  }}</p>
                                        </div>
                                        <a href="{{  posts.get_absolute_url }}">read more <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- end single blog item -->

                            </div>
                        </div>
                        <!-- start pagination area -->
                    {% include 'includes/paginator.html' with page=all_blogs %}
                        <!--   <div class="paginatoin-area text-center pt-30 pb-30">
                            <div class="row">
                                <div class="col-12">

                                    <ul class="pagination-box">
                                        <li><a class="Previous" href="#">Previous</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a class="Next" href="#"> Next </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                        <!-- end pagination area -->
                    </div>
                </div>
            </div>
        </div>
        <!-- blog main wrapper end -->

{% endblock content %}